<!-- src/app/app.component.html -->

<header>
    <h1>Zeitplaner</h1>
    <nav>
        <a routerLink="/termine" routerLinkActive="active">Termine</a> |
        <a routerLink="/aufgaben" routerLinkActive="active">Aufgaben</a> |
        <a routerLink="/kategorien" routerLinkActive="active">Kategorien</a> |
        <a routerLink="/report/time-usage" routerLinkActive="active">Zeitnutzung</a>
    </nav>
    <hr>
</header>

<main class="container">
    <router-outlet></router-outlet>
</main>

<footer>
    <hr>
    <p style="text-align:center; font-size:0.8rem;">
        &copy; 2025 Deine Zeitplaner-App
    </p>
</footer>
